<form action="/add" method="POST">
    <p>Nome do Pokemon:</p>
    <input type="text" name="nome">
    
    <select class="form-select" name="tipo">
        <option id="pla">Planta</option>
        <option id="fog">Fogo</option>
        <option id="ag">Àgua</option>
        <option id="elet">Eletrico</option>        
        <option id="ven">Veneno</option>        
        <option id="psq">Psquico</option>        
        <option id="lut">Lutador</option>        
        <option id="ter">Terra</option>        
        <option id="ped">Pedra</option>        
        <option id="nor">Normal</option>        
        <option id="gel">Gelo</option>        
        <option id="dra">Dragão</option>        
        <option id="ins">Inseto</option>        
    </select>
    
    <Button type="submit">Cadastrar Pokemons</Button>
</form>